button {
    color: var(--white);
    background-color: var(--blue);
    font-weight: bold;
    border-radius: .75em;
    cursor: pointer;
}

button.danger {
    background-color: var(--danger);
}

button.secondary {
    background-color: var(--gray);
}

button:hover {
    background-color: var(--gray-dark);
}