.table {
    width: 100%;
    background-color: var(--white);
    overflow-x: auto;
    border-radius: .125rem;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table table th {
    text-align: left;
    font-size: .75rem;
    color: var(--dark-gray);
}

.table table :is(td, th) {
    padding: .5rem 1rem;
}

.table table tbody tr:hover {
    background-color: var(--light);
}

.table table td {
    font-size: .75rem;
    padding: .5rem 1rem;
    border-top: .075rem solid #dee2e6;
    transition: background .3s ease-in;
}

.table table td:nth-child(2) {
    width: 100%;
}

.table table td:last-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}